<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>女儿的丈夫</key>
	<string>女婿</string>
	<key>儿子的妻子</key>
	<string>儿媳</string>
	<key>女儿的女儿</key>
	<string>孙女</string>
	<key>女儿的儿子</key>
	<string>孙子</string>
	<key>儿子的女儿</key>
	<string>孙女</string>
	<key>儿子的儿子</key>
	<string>孙子</string>
	<key>妈妈的爸爸的爸爸的爸爸</key>
	<string>高外祖父</string>
	<key>妈妈的妈妈的妈妈的妈妈</key>
	<string>高外祖母</string>
	<key>爸爸的妈妈的妈妈的妈妈</key>
	<string>高祖母</string>
	<key>爸爸的爸爸的爸爸的爸爸</key>
	<string>高祖父</string>
	<key>妈妈的姐姐的儿子的妻子（年长）</key>
	<string>表嫂</string>
	<key>妈妈的妹妹的儿子的妻子（年长）</key>
	<string>表嫂</string>
	<key>妈妈的弟弟的儿子的妻子（年长）</key>
	<string>表嫂</string>
	<key>妈妈的哥哥的儿子的妻子（年长）</key>
	<string>表嫂</string>
	<key>爸爸的姐姐的儿子的妻子（年长）</key>
	<string>表嫂</string>
	<key>爸爸的妹妹的儿子的妻子（年长）</key>
	<string>表嫂</string>
	<key>妈妈的姐姐的儿子的妻子（年轻）</key>
	<string>表弟妹或表弟媳</string>
	<key>妈妈的妹妹的儿子的妻子（年轻）</key>
	<string>表弟妹或表弟媳</string>
	<key>妈妈的弟弟的儿子的妻子（年轻）</key>
	<string>表弟妹或表弟媳</string>
	<key>妈妈的哥哥的儿子的妻子（年轻）</key>
	<string>表弟妹或表弟媳</string>
	<key>爸爸的姐姐的儿子的妻子（年轻）</key>
	<string>表弟妹或表弟媳</string>
	<key>爸爸的妹妹的儿子的妻子（年轻）</key>
	<string>表弟妹或表弟媳</string>
	<key>妈妈的姐姐的女儿的丈夫（年长）</key>
	<string>表姐夫</string>
	<key>妈妈的妹妹的女儿的丈夫（年长）</key>
	<string>表姐夫</string>
	<key>妈妈的弟弟的女儿的丈夫（年长）</key>
	<string>表姐夫</string>
	<key>妈妈的哥哥的女儿的丈夫（年长）</key>
	<string>表姐夫</string>
	<key>爸爸的姐姐的女儿的丈夫（年长）</key>
	<string>表姐夫</string>
	<key>爸爸的妹妹的女儿的丈夫（年长）</key>
	<string>表姐夫</string>
	<key>妈妈的姐姐的女儿的丈夫（年轻）</key>
	<string>表妹夫</string>
	<key>妈妈的妹妹的女儿的丈夫（年轻）</key>
	<string>表妹夫</string>
	<key>妈妈的弟弟的女儿的丈夫（年轻）</key>
	<string>表妹夫</string>
	<key>妈妈的哥哥的女儿的丈夫（年轻）</key>
	<string>表妹夫</string>
	<key>爸爸的姐姐的女儿的丈夫（年轻）</key>
	<string>表妹夫</string>
	<key>爸爸的妹妹的女儿的丈夫（年轻）</key>
	<string>表妹夫</string>
	<key>妻子的妈妈</key>
	<string>岳母，也叫：丈母娘、外母</string>
	<key>妻子的爸爸</key>
	<string>岳父，也叫：丈人、外父</string>
	<key>丈夫的妈妈</key>
	<string>婆婆</string>
	<key>丈夫的爸爸</key>
	<string>公公</string>
	<key>妻子的妹妹的丈夫</key>
	<string>连襟，也叫：担儿挑、一般沉</string>
	<key>妻子的姐姐的丈夫</key>
	<string>连襟，也叫：担儿挑、一般沉</string>
	<key>妻子的妹妹</key>
	<string>小姨子</string>
	<key>妻子的姐姐</key>
	<string>大姨子</string>
	<key>妻子的弟弟的妻子</key>
	<string>小妗子</string>
	<key>妻子的弟弟</key>
	<string>小舅子</string>
	<key>妻子的哥哥的妻子</key>
	<string>大妗子</string>
	<key>妻子的哥哥</key>
	<string>大舅子</string>
	<key>丈夫的妹妹</key>
	<string>小姑子</string>
	<key>丈夫的姐姐</key>
	<string>大姑子</string>
	<key>丈夫的弟弟的妻子</key>
	<string>小婶子</string>
	<key>丈夫的弟弟</key>
	<string>小叔子</string>
	<key>丈夫的哥哥的妻子</key>
	<string>大伯娘、二伯娘...，口语称呼叫大嫂、二嫂...即可（其余哥哥的妻子以此类推）</string>
	<key>丈夫的哥哥</key>
	<string>大伯子、二伯子...，口语称呼叫大哥、二哥...即可（其余哥哥以此类推）</string>
	<key>姐姐的女儿</key>
	<string>外甥女</string>
	<key>妹妹的女儿</key>
	<string>外甥女</string>
	<key>姐姐的儿子</key>
	<string>外甥</string>
	<key>妹妹的儿子</key>
	<string>外甥</string>
	<key>哥哥的女儿</key>
	<string>侄女</string>
	<key>弟弟的女儿</key>
	<string>侄女</string>
	<key>哥哥的儿子</key>
	<string>侄子</string>
	<key>弟弟的儿子</key>
	<string>侄子</string>
	<key>妹妹的丈夫</key>
	<string>妹夫</string>
	<key>姐姐的丈夫</key>
	<string>姐夫</string>
	<key>弟弟的妻子</key>
	<string>弟妹或弟媳</string>
	<key>哥哥的妻子</key>
	<string>嫂子</string>
	<key>妈妈的姐姐的女儿（年轻）</key>
	<string>表妹</string>
	<key>妈妈的姐姐的女儿（年长）</key>
	<string>表姐</string>
	<key>妈妈的妹妹的女儿（年轻）</key>
	<string>表妹</string>
	<key>妈妈的妹妹的女儿（年长）</key>
	<string>表姐</string>
	<key>妈妈的弟弟的女儿（年轻）</key>
	<string>表妹</string>
	<key>妈妈的弟弟的女儿（年长）</key>
	<string>表姐</string>
	<key>妈妈的哥哥的女儿（年轻）</key>
	<string>表妹</string>
	<key>妈妈的哥哥的女儿（年长）</key>
	<string>表姐</string>
	<key>爸爸的姐姐的女儿（年轻）</key>
	<string>表妹</string>
	<key>爸爸的姐姐的女儿（年长）</key>
	<string>表姐</string>
	<key>爸爸的妹妹的女儿（年轻）</key>
	<string>表妹</string>
	<key>爸爸的妹妹的女儿（年长）</key>
	<string>表姐</string>
	<key>妈妈的姐姐的儿子（年轻）</key>
	<string>表弟</string>
	<key>妈妈的姐姐的儿子（年长）</key>
	<string>表哥</string>
	<key>妈妈的妹妹的儿子（年轻）</key>
	<string>表弟</string>
	<key>妈妈的妹妹的儿子（年长）</key>
	<string>表哥</string>
	<key>妈妈的弟弟的儿子（年轻）</key>
	<string>表弟</string>
	<key>妈妈的弟弟的儿子（年长）</key>
	<string>表哥</string>
	<key>妈妈的哥哥的儿子（年轻）</key>
	<string>表弟</string>
	<key>妈妈的哥哥的儿子（年长）</key>
	<string>表哥</string>
	<key>爸爸的姐姐的儿子（年轻）</key>
	<string>表弟</string>
	<key>爸爸的姐姐的儿子（年长）</key>
	<string>表哥</string>
	<key>爸爸的妹妹的儿子（年轻）</key>
	<string>表弟</string>
	<key>爸爸的妹妹的儿子（年长）</key>
	<string>表哥</string>
	<key>爸爸的哥哥的女儿（年轻）</key>
	<string>堂妹</string>
	<key>爸爸的哥哥的女儿（年长）</key>
	<string>堂姐</string>
	<key>爸爸的弟弟的女儿（年轻）</key>
	<string>堂妹</string>
	<key>爸爸的弟弟的女儿（年长）</key>
	<string>堂姐</string>
	<key>爸爸的哥哥的儿子（年轻）</key>
	<string>堂弟</string>
	<key>爸爸的哥哥的儿子（年长）</key>
	<string>堂兄</string>
	<key>爸爸的弟弟的儿子（年轻）</key>
	<string>堂弟</string>
	<key>爸爸的弟弟的儿子（年长）</key>
	<string>堂兄</string>
	<key>妈妈的妹妹的丈夫</key>
	<string>姨父</string>
	<key>妈妈的姐姐的丈夫</key>
	<string>姨父</string>
	<key>妈妈的妹妹</key>
	<string>姨</string>
	<key>妈妈的姐姐</key>
	<string>姨</string>
	<key>妈妈的弟弟的妻子</key>
	<string>舅妈</string>
	<key>妈妈的哥哥的妻子</key>
	<string>舅妈</string>
	<key>妈妈的弟弟</key>
	<string>舅舅</string>
	<key>妈妈的哥哥</key>
	<string>舅舅</string>
	<key>爸爸的妹妹的丈夫</key>
	<string>姑父</string>
	<key>爸爸的姐姐的丈夫</key>
	<string>姑父</string>
	<key>爸爸的姐姐</key>
	<string>姑姑</string>
	<key>爸爸的妹妹</key>
	<string>姑姑</string>
	<key>爸爸的弟弟的妻子</key>
	<string>婶婶</string>
	<key>爸爸的弟弟</key>
	<string>叔叔</string>
	<key>爸爸的哥哥的妻子</key>
	<string>伯母</string>
	<key>爸爸的哥哥</key>
	<string>伯伯（有地方称呼为“大爷”）</string>
	<key>妈妈的妈妈的弟弟的妻子</key>
	<string>舅姥姥</string>
	<key>妈妈的妈妈的哥哥的妻子</key>
	<string>舅姥姥</string>
	<key>妈妈的妈妈的弟弟</key>
	<string>舅姥爷</string>
	<key>妈妈的妈妈的哥哥</key>
	<string>舅姥爷</string>
	<key>妈妈的妈妈的妹妹的丈夫</key>
	<string>姨姥爷</string>
	<key>妈妈的妈妈的姐姐的丈夫</key>
	<string>姨姥爷</string>
	<key>妈妈的妈妈的妹妹</key>
	<string>姨姥姥</string>
	<key>妈妈的妈妈的姐姐</key>
	<string>姨姥姥</string>
	<key>妈妈的爸爸的妹妹的丈夫</key>
	<string>姑姥爷</string>
	<key>妈妈的爸爸的姐姐的丈夫</key>
	<string>姑姥爷</string>
	<key>妈妈的爸爸的妹妹</key>
	<string>姑姥姥</string>
	<key>妈妈的爸爸的姐姐</key>
	<string>姑姥姥</string>
	<key>爸爸的妈妈的哥哥的妻子</key>
	<string>舅奶奶</string>
	<key>爸爸的妈妈的弟弟的妻子</key>
	<string>舅奶奶</string>
	<key>爸爸的妈妈的哥哥</key>
	<string>舅爷</string>
	<key>爸爸的妈妈的弟弟</key>
	<string>舅爷</string>
	<key>爸爸的妈妈的姐妹的丈夫</key>
	<string>姨爷</string>
	<key>爸爸的妈妈的姐姐</key>
	<string>姨奶奶</string>
	<key>爸爸的妈妈的妹妹</key>
	<string>姨奶奶</string>
	<key>爸爸的爸爸的姐妹的丈夫</key>
	<string>姑爷（“爷”字重读，与表示女婿的“姑爷”不同）</string>
	<key>爸爸的爸爸的姐姐</key>
	<string>姑奶奶</string>
	<key>爸爸的爸爸的妹妹</key>
	<string>姑奶奶</string>
	<key>妈妈的妈妈的爸爸</key>
	<string>太姥爷</string>
	<key>妈妈的爸爸的爸爸</key>
	<string>太姥爷</string>
	<key>妈妈的妈妈的妈妈</key>
	<string>太姥姥</string>
	<key>妈妈的爸爸的妈妈</key>
	<string>太姥姥</string>
	<key>爸爸的爸爸的爸爸</key>
	<string>太爷</string>
	<key>爸爸的妈妈的爸爸</key>
	<string>太爷</string>
	<key>爸爸的妈妈的妈妈</key>
	<string>太太</string>
	<key>爸爸的爸爸的妈妈</key>
	<string>太太</string>
	<key>妈妈的妈妈</key>
	<string>姥姥（有的地方称为“外婆”）</string>
	<key>妈妈的爸爸</key>
	<string>姥爷（有的地方称为”外公“）</string>
	<key>爸爸的妈妈</key>
	<string>奶奶</string>
	<key>爸爸的爸爸</key>
	<string>爷爷</string>
</dict>
</plist>
